---
const allPosts = await Astro.glob('../pages/alert/*.md');
---

<section>
    {allPosts.map((post) => 
      <div class="alert-container">
        <h4>Notice</h4>
        <h3>{post.frontmatter.title} </h3>
        <p>{post.frontmatter.abstract}</p>
        <a href={post.url}>Learn More →</a>
        <p class="timestamp">{post.frontmatter.publishedDate}</p>
        </div>
    )}
  </section>