---
import { getCollection } from 'astro:content';
const allAlerts = await getCollection('alert', ({ data }) => {
  return data.publishedDate === "16 August 2024"
});
---

<section>
    {allAlerts.map((alert) => 
      <div class="alert-container">
        <h4>Notice</h4>
        <h3>{alert.data.title} </h3>
        <p>{alert.data.abstract}</p>
        <a href={`content/alert/${alert.slug}/`}>Learn More →</a>
        <p class="timestamp">{alert.data.publishedDate}</p>
        </div>
    )}
  </section>