---
import { getCollection } from "astro:content";
const allAlerts = await getCollection("alerts");
const latestAlert = allAlerts[0];

import dayjs from "dayjs";
const lastModified = dayjs(latestAlert.data.lastModified);
const lastModifiedShort = lastModified.format("MMMM DD YYYY");
const lastModifiedLong = lastModified.format("HH:mm:ss DD-MM-YYYY");
---

<section>
  <div class="alert-container">
    <h4>Alert</h4>
    <h3>{latestAlert.data.title} </h3>
    <p>{latestAlert.data.abstract}</p>
    <a href={`alerts/${latestAlert.slug}/`}>Learn More →</a>
    <p class="timestamp" data-datetime-utc={ lastModifiedLong }>{ lastModifiedShort }</p>
    </div>
</section>