---
import { getCollection } from "astro:content";
const allAlerts = await getCollection("alerts");
console.log(allAlerts);
const latestAlert = allAlerts[0];

// if (allAlerts.length !== 0) {
//   const latestAlert = allAlerts[0];
// }
---

<section>
  <div class="alert-container">
    <h4>Notice</h4>
    <h3>{latestAlert.data.title} </h3>
    <p>{latestAlert.data.abstract}</p>
    <a href={`alerts/${latestAlert.slug}/`}>Learn More →</a>
    <p class="timestamp">{latestAlert.data.publishedDate.toString().slice(0,21)}</p>
    </div>
</section>