---
import Hamburger from "../components/Hamburger.astro";
---

<header transition:persist>
    <div class="title">
        <h1>Nightingale Bowden Resident Directory</h1>
    </div>
    <Hamburger />
</header>
