<nav class="nav-links" transition:persist>
    <div>
      <a href="">Home</a>
      <a href="notices/">Notices</a>
      <a href="rooftop/">Rooftop</a>
      <a href="guesthouse/">Guesthouse</a>
      <a href="events/">Events</a>
      <a href="resources/">Resources</a>
      <a href="committee/">Committee</a>
      <a href="strata/">Strata</a>
      <a href="https://nightingalebowden.slack.com/" target="_blank">Slack</a>
    </div>
  </nav>