<nav class="nav-links">
    <div>
      <a href="">Home</a>
      <a href="">Notices</a>
      <a href="">Rooftop</a>
      <a href="">Guesthouse</a>
      <a href="">Calendar</a>
      <a href="">Resources</a>
      <a href="">Committee</a>
      <a href="">Strata</a>
      <a href="">Slack</a>
    </div>
  </nav>