---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;

import dayjs from "dayjs";
const lastModified = dayjs(Astro.props.frontmatter.lastModified);
const lastModifiedShort = lastModified.format("MMMM DD YYYY");
const lastModifiedLong = lastModified.format("HH:mm:ss DD-MM-YYYY");
---
<BaseLayout pageTitle={ frontmatter.title }>
<section>
    <div class="article-container">
      <!-- <div class="article-container-nav">
        <a href="../">← Back</a> 
        <div class="article-container-tags">
          {frontmatter.tags.map((tag) => <a class="todo">{tag}</a>)}
        </div>
      </div> -->
      <div class="article-container-title">
        <h1>{ frontmatter.title }</h1>
        <!-- <p class="timestamp" >{ frontmatter.publishedDate.toString().slice(4,15) }</p> -->
        <p class="timestamp" data-datetime-utc={ lastModifiedLong }>{ lastModifiedShort }</p>
      </div>
      <div class="article-container-abstract">
        <p>{ frontmatter.abstract }</p>
      </div>
      <div class="article-container-body">
        <slot />
      </div>
    </div>
  </section>
  <!-- <section>
    <div class="title-container">
      <h2>Other Notices</h2>
    </div>
  </section> -->
  <!-- <section>
    <nav class="tile-container notices-container">
        <p>todo</p>
    </nav>
  </section> -->
</BaseLayout>