---
import BaseLayout from "./BaseLayout.astro";
const { collectionTitle, collectionDescription } = Astro.props;
---

<BaseLayout pageTitle={ collectionTitle }>
    <section>
        <div class="title-container">
          <h1>{ collectionTitle }</h1>
          <p>{ collectionDescription }</p>
        </div>
      </section>
      <section>
        <nav class="tile-container notices-container">
        <slot />
        </nav>
      </section>
</BaseLayout>